<div id="<%= dom_id money_saving %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Saving date:</strong>
    <%= money_saving.saving_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= money_saving.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Saving amount:</strong>
    <%= money_saving.saving_amount %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this money saving", money_saving, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this money saving', edit_money_saving_path(money_saving), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
